footer.footer
    a.logo(href='#') ✈️ Express-Tours
    nav.footer__nav
        a.footer__navlink(href='#') About Us
        a.footer__navlink(href='#') Become a Guide
        a.footer__navlink(href='#') Careers
        a.footer__navlink(href='#') Contact
    p.footer__text © 2023 Express-Tours