header.header
    nav.primary-nav
        h1
            a.logo(href='/') ✈️ Express-Tours
        a.button.button-secondary(href='/signin') Sign In
        a.button.button-primary(href='/signup') Sign Up